* {
  margin: 0;
  padding: 0;
}
img {
  height: 100px;
  width: 190px;
  margin-left: 7px;
}
h2 {
  text-align: center;
  text-decoration: underline;
  color: blue;
  text-decoration-style: dotted;
  text-decoration-color: springgreen;
}
.btn1 {
  color: aqua;
  background-color: blue;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: 4px;
}
.btn2 {
  color: aqua;
  background-color: blue;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: 4px;
}
.btn1:hover {
  background-color: rgb(219, 29, 29);
  color: rgb(199, 199, 128);
}
.btn2:hover {
  background-color: yellow;
}
ul li {
  margin-left: 20px;
  list-style: disc;
}
ol li {
  margin-left: 20px;
}
